In [4]:
from cbs import CBSDataFetcher

url = "https://opendata.cbs.nl/ODataApi/OData/81528NED"
cbs = CBSDataFetcher(url)
output = cbs.return_data()

Fetching data...


Retrieve TableInfos by using: your_output_variable["TableInfos"]
Retrieve UntypedDataSet by using: your_output_variable["UntypedDataSet"]
Retrieve TypedDataSet by using: your_output_variable["TypedDataSet"]
Retrieve DataProperties by using: your_output_variable["DataProperties"]
Retrieve CategoryGroups by using: your_output_variable["CategoryGroups"]
Retrieve Woningkenmerken by using: your_output_variable["Woningkenmerken"]
Retrieve RegioS by using: your_output_variable["RegioS"]
Retrieve Perioden by using: your_output_variable["Perioden"]

In [7]:
output["TypedDataSet"]

,ID,Woningkenmerken,RegioS,Perioden,GemiddeldAardgasverbruik_1,GemiddeldeElektriciteitslevering_2,GemiddeldeNettoElektriciteitslevering_3,Stadsverwarming_4
0,0,T001100,NL01,2010JJ00,1850.0,3300.0,NaN,4.6
1,1,T001100,NL01,2011JJ00,1450.0,3250.0,NaN,4.5
2,2,T001100,NL01,2012JJ00,1500.0,3200.0,NaN,5.1
3,3,T001100,NL01,2013JJ00,1600.0,3150.0,NaN,4.9
4,4,T001100,NL01,2014JJ00,1200.0,3050.0,NaN,4.8
...,...,...,...,...,...,...,...,...
57195,57195,1014850,ET3003,2018JJ00,NaN,NaN,NaN,NaN
57196,57196,1014850,ET3003,2019JJ00,NaN,NaN,NaN,NaN
57197,57197,1014850,ET3003,2020JJ00,910.0,2200.0,NaN,NaN
57198,57198,1014850,ET3003,2021JJ00,1010.0,2230.0,2120.0,NaN
57199,57199,1014850,ET3003,2022JJ00,820.0,2150.0,2010.0,NaN